<ion-view view-title="UCAPAN SALAM">
 <ion-content class="padding">
  <p align="center"><img src="img/1.png"></p>
  <p align="center"><b>ZIARAH KE AYAH</b> </p>
  <p align="center"><img src="img/1.png"></p>
  <br>
  <p class="arab" align="center">اَلسَّلاَمُ عَلَيْكُمْ يَا اَبِيْ دَارَ قَوْمٍ مُؤْمِنِيْنَ اَنْتُمْ لَنَا سَلَفٌ وَنَحْنُ لَكُمْ تَبَعٌ وَاِنَّا اِنْشَاءَاللهُ تَعَالَى بِكُمْ لاَحِقُوْنَ اَلْفَاتِحَةْ
  </p><br><br>
  <p align="center">Assalamualaikum Ya Abii daro Qowmin Mu'minina Antum Lana safalun Wa nahnu lakum taba'un Wa Inna Insya Allahu ta'ala bikum Laahikuuna Al-Fatihah</p>
  <br />
  <div class="spacer" style="height: 40px;">
  </div>
  <p align="center"><img src="img/1.png"></p>
  <p align="center"><b>ZIARAH KE IBU</b> </p>
  <p align="center"><img src="img/1.png"></p>
  <p class="arab" align="center">اَلسَّلاَمُ عَلَيْكُمْ يَا اُمِّىْ دَارَ قَوْمٍ مُؤْمِنِيْنَ اَنْتُمْ لَنَا سَلَفٌ وَنَحْنُ لَكُمْ تَبَعٌ وَاِنَّا اِنْشَاءَاللهُ تَعَالَى بِكُمْ لاَحِقُوْنَ اَلْفَاتِحَةْ
  </p><br><br>
  <p align="center">Assalamualaikum Ya Ummii daro Qowmin Mu'minina Antum Lana safalun Wa nahnu lakum taba'un Wa Inna Insya Allahu ta'ala bikum Laahikuuna Al-Fatihah</p>
  <div class="spacer" style="height: 40px;">
  </div>
  <p align="center"><img src="img/1.png"></p>
  <p align="center"><b>ZIARAH KE KAKEK</b> </p>
  <p align="center"><img src="img/1.png"></p>
  <br>
  <p class="arab" align="center">اَلسَّلاَمُ عَلَيْكُمْ يَا جَدِّىْ دَارَ قَوْمٍ مُؤْمِنِيْنَ اَنْتُمْ لَنَا سَلَفٌ وَنَحْنُ لَكُمْ تَبَعٌ وَاِنَّا اِنْشَاءَاللهُ تَعَالَى بِكُمْ لاَحِقُوْنَ اَلْفَاتِحَةْ
  </p><br><br>
  <p align="center">Assalamualaikum Ya Jaddi daro Qowmin Mu'minina Antum Lana safalun Wa nahnu lakum taba'un Wa Inna Insya Allahu ta'ala bikum Laahikuuna Al-Fatihah</p>
  <br />
  <div class="spacer" style="height: 40px;">
  </div>
  <p align="center"><img src="img/1.png"></p>
  <p align="center"><b>ZIARAH KE NENEK</b> </p>
  <p align="center"><img src="img/1.png"></p>
  <br>
  <p class="arab" align="center">اَلسَّلاَمُ عَلَيْكُمْ يَا جَدَّتِىْ دَارَ قَوْمٍ مُؤْمِنِيْنَ اَنْتُمْ لَنَا سَلَفٌ وَنَحْنُ لَكُمْ تَبَعٌ وَاِنَّا اِنْشَاءَاللهُ تَعَالَى بِكُمْ لاَحِقُوْنَ اَلْفَاتِحَةْ
  </p><br><br>
  <p align="center">Assalamualaikum Ya Jaddatii daro Qowmin Mu'minina Antum Lana safalun Wa nahnu lakum taba'un Wa Inna Insya Allahu ta'ala bikum Laahikuuna Al-Fatihah</p>
  <br />
  <div class="spacer" style="height: 40px;">
  </div>
  <p align="center"><img src="img/1.png"></p>
  <p align="center"><b>ZIARAH KE UMUM</b> </p>
  <p align="center"><img src="img/1.png"></p>
  <br>
  <p class="arab" align="center">اَلسَّلاَمُ عَلَيْكُمْ يَا اَهْلَ لآ اِلَهَ اِلاَّ الله مُحَمَّدٌ رَسُوْلُ اللهِ صَلَّى اللهُ عَلَيْهِ وَسَلَّمَ دَارَ قَوْمٍ مُؤْمِنِيْنَ اَنْتُمْ لَنَا سَلَفٌ وَنَحْنُ لَكُمْ تَبَعٌ وَاِنَّا اِنْشَاءَاللهُ تَعَالَى بِكُمْ لاَحِقُوْنَ اَلْفَاتِحَةْ
  </p><br><br>
  <p align="center">Assalamualaikum Ya Ahla lailahaillallah Muhammadarrasulullah Sollallahu 'alaihi wasallama daro Qowmin Mu'minina Antum Lana safalun Wa nahnu lakum taba'un Wa Inna Insya Allahu ta'ala bikum Laahikuuna Al-Fatihah</p>
  <p align="center"><img src="img/1.png"></p>
 </ion-content>
</ion-view>