<ion-view view-title="TAHLIL">
 <ion-content class="padding">
  <p align="center"><img src="img/1.png"></p>
    <p align="center"><b>BACA TAHLIL</b> </p>
    <p align="center"><img src="img/1.png"></p>
    <p class="arab" align="center"> اَفْضَلُ الذِّكْرِفَاعْلَمْ اَنَّهُ لآاِلَهَ اِلاَّ الله حَيٌّ بَاقٍ. لآاِلَهَ اِلاَّ الله حَيٌّ مَوْجُوْدٌ. لآاِلَهَ اِلاَّ الله حَيٌّ مَقْبُوْدٌ
لآاِلَهَ اِلاَّ الله 33 x 
    </p><br>
    <p class="arab" align="center">لآاِلَهَ اِلاَّ الله مُحَمَّدٌ رَسُوْلُ الله صَلَّى عَلَيْهِ وَسَلَّمَ كَلِمَةُ حَقِّ عَلَيْهَا نَحْيَى وَعَلَيْهَا نَمُوْتُ وَبِهَا نُبْعَثُ اِنْ شَاءَ اللهُ تَعَالَى مِنَ اْلاَمِنِيْنَ برحمة الله وكرمه جزاء الله انّ سيّدنا ونبيّنا ومولنا محمّدًا صَلَّى الله عَلَيْهِ وَسَلَّمَ شَيْئٌ للهِ لَهُمُ اْلفَاتِحَةْْ 
    </p><br>
    <p align="center"><img src="img/1.png"></p>

  <div class="spacer" style="height: 40px;"></div>
 </ion-content>
</ion-view>