<ion-view view-title="Doa Harian Ramadhan">
  <ion-content>
  <div class="card">
        <div class="item item-divider warna-divider">
         <i class="icon ion-ios-home"></i> Doa Hari Ke-1 <small>Ramadhan</small>
        </div>
        <div class="item item-text-wrap"><font size="5">
          <p class="arab" align="center">
              اَللَّهُمَّ اجْعَلْ صِيَامِي فِيْهِ صِيَامَ الصَّائِمِيْنَ، وَقِيَامِي فِيْهِ قِيَامَ الْقَائِمِيْنَ، وَنَبِّهْنِي فِيْهِ عَنْ نَوْمَةِ الْغَافِلِيْنَ، وَهَبْ لِي جُرْمِي فِيْهِ يَا اِلَهَ الْعَالَمِيْنَ، وَاعْفُ عَنِّي يَا عَافِياً عَنْ الْمُجْرِمِيْنَ
                </font></p><br><br>
                <p align="center">Allâhummaj’al shiyâmî fîhi shiyâmash shâimîn, wa qiyâmî fîhi qiyâmal qâimîn, wa nabbihnî fîhi ‘an nawmatil ghâfilîn, wa hablî jurmî fîhi yâ Ilâhal ‘âlamîn, wa’fu ‘annî yâ ‘âfiyan ‘anil mujrimîn.</p><br>
            <p><b>Artinya</b></p><br>
            <p>Ya Allah, jadikan puasaku di bulan ini sebagai puasa orang-orang yang berpuasa sebenarnya, shalat malamku di dalamnya sebagai orang yang shalat malam sebenar¬nya, bangunkan daku di dalamnya dari tidurnya orang-orang yang lalai. Bebaskan aku dari dosa-dosaku wahai Tuhan semesta alam. Maafkan aku wahai Yang Memberi ampunan kepada orang-orang yang berbuat dosa."</p>
        </div>
  </div>

  <div class="card">
        <div class="item item-divider warna-divider">
         <i class="icon ion-ios-home"></i> Doa Hari Ke-2 <small>Ramadhan</small>
        </div>
        <div class="item item-text-wrap"><font size="5">
          <p class="arab" align="center">
                اَللَّهُمَ قَرّ ِ بْنِيْ فِيْهِ اِلَى مَرْضَاتِكَ وَجَنَّبْنِي فِيْهِ مِنْ سَخَطِكَ وَنَقِمَاتِكَ وَوَفِّقْنِي فِيْهِ لِقِرآئَةِ اَيَاتِكَ بِرَحْمَتِكَ يَااَرْحَمَ الرَّاحِمِيْنَ
                </font></p><br><br>
                <p align="center">Allâhumma qarribnî fîhi ilâ mardhâtika wa jannibnî fîhi min sakhatika wa naqimâtika wa waffiqnî fîhi liqirâ-ati âyâtika birahmatika yâ arhamar râhimîn.</p><br>
            <p><b>Artinya</b></p><br>
            <p>Ya Allah! Mohon dekatkanlah aku kepada keridhaan-MU dan jauhkanlah aku dari kemurkaan serta alasan-MU. Mohon berilah aku kemampuan untuk membaca ayat-ayat-MU dengan rahmat-MU, Wahai Maha Pengasih dari semua yang Pengasih!.</p>
        </div>
  </div>

  <div class="card">
        <div class="item item-divider warna-divider">
         <i class="icon ion-ios-home"></i> Doa Hari Ke-3 <small>Ramadhan</small>
        </div>
        <div class="item item-text-wrap"><font size="5">
          <p class="arab" align="center">
             اَللَّهُمَّ ارْزُقْنِيْ فِيْهِ الذِّهْنِ وَالتَّنْبِيْهِ وَبَاعِدْنِيْ فِيْهِ مِنَ السَّفَاهَةِ وَالتَمْوِيْهِ وَاجْعَلْ لِي نَصِيْبًا مِنْ كُلِ خَيْرٍ تُنْزِلُ فِيْهِ بِجُوْدِكَ يَا اَجْوَدَ ْالآجْوَدِيْنَ
                </font></p><br><br>
                <p align="center">Allâhummarzuqnî fîhidz dzihna wattanbîh wa bâ’idnî fîhi minas safâhati wattamwîh waj’al lî nashîban min kulli khairin tunzilu fîhi bijûdika yâ ajwadal ajwadîn.</p><br>
            <p><b>Artinya</b></p><br>
            <p>Ya Allah! Mohon berikanlah aku rizki akal dan kewaspadaan. dan jauhkanlah aku dari kebodohan dan kesesatan. Anugerahkanlah kepadaku bagian dari segala kebaikan yang ENGKAU turunkan, demi kemurahan-MU, Wahai dzat Yang Maha Dermawan dari semua yang dermawan!</p>
        </div>
  </div>

  <div class="card">
        <div class="item item-divider warna-divider">
         <i class="icon ion-ios-home"></i> Doa Hari Ke-4 <small>Ramadhan</small>
        </div>
        <div class="item item-text-wrap"><font size="5">
          <p class="arab" align="center">
             اَللَّهُمَّ قَوِّنِيْ فِيْهِ عَلَى إِقَامَةِ أَمْرِكَ وَ أَذِقْنِيْ فِيْهِ حَلاَوَةَ ذِكْرِكَ وَ أَوْزِعْنِيْ فِيْهِ لأدَاءِ شُكْرِكَ بِكَرَمِكَ وَ احْفَظْنِيْ فِيْهِ بِحِفْظِكَ وَ سِتْرِكَ يَا أَبْصَرَ النَّاظِرِيْنَ
                </font></p><br><br>
                <p align="center">Allahumma Qawwinii Fiihi ‘Alaa Iqoomati Amrika Wa Adziqnii Fiihi Halaawata Dzikrika Wa Audzi’nii Fiihi Li Adaai Syukrika Bikaramika Wahfazhnii Fiihi Bihifzhika Wa Sitrika Yaa Absharan-Naazhiriin</p><br>
            <p><b>Artinya</b></p><br>
            <p>Ya Allah! Mohon berikanlah kekuatan kepadaku, untuk menegakkan perintah-perintah-MU, dan berilah aku manisnya berdzikir mengingat-MU. Mohon berilah aku kekuatan untuk bersyukur kepada-MU, dengan kemuliaan- MU. Dan jagalah aku dengan penjagaan-MU dan perlindungan-MU, Wahai dzat Yang Maha Melihat</p>
        </div>
  </div>

  <div class="card">
        <div class="item item-divider warna-divider">
         <i class="icon ion-ios-home"></i> Doa Hari Ke-5 <small>Ramadhan</small>
        </div>
        <div class="item item-text-wrap"><font size="5">
          <p class="arab" align="center">
              اَللَّهُمَّ اجْعَلْنِيْ فِيْهِ مِنَ الْمُسْتَغْفِرِيْنَ وَ اجْعَلْنِيْ فِيْهِ مِنْ عِبَادِكَ الصَّالِحِيْنَ الْقَانِتِيْنَ وَ اجْعَلْنِيْ فِيْهِ مِنْ أَوْلِيَائِكَ الْمُقَرَّبِيْنَ بِرَأْفَتِكَ يَا أَرْحَمَ الرَّاحِمِيْنَ
                </font></p><br><br>
                <p align="center">Allâhummaj’alnî fîhi minal mustaghfirîn waj’alnî fîhi min ‘ibâdikas shâlihîn al qânitîn waj’alnî fîhi min awliyâ-ikalmuqarrabîn bira’fatika yâ arhamarrâhimîn</p><br>
            <p><b>Artinya</b></p><br>
            <p>Ya Allah! Mohon jadikanlah di bulan ini aku termasuk diantara orang-orang yang memohon ampunan (beristighfar), dan jadikanlah aku sebagai hamba-MU yang saleh dan setia serta mohon jadikanlah aku diantara Auliya’- MU yang dekat disisi-MU, dengan kelembutan-MU, Wahai dzat Yang Maha Pengasih di antara semua pengasih</p>
        </div>
  </div>

  <div class="card">
        <div class="item item-divider warna-divider">
         <i class="icon ion-ios-home"></i> Doa Hari Ke-6 <small>Ramadhan</small>
        </div>
        <div class="item item-text-wrap"><font size="5">
          <p class="arab" align="center">
             اَللَّهُمَّ لاَ تَخْذُلْنِيْ فِيْهِ لِتَعَرُّضِ مَعْصِيَتِكَ وَ لاَ تَضْرِبْنِيْ بِسِيَاطِ نَقِمَتِكَ وَ زَحْزِحْنِيْ فِيْهِ مِنْ مُوْجِبَاتِ سَخَطِكَ بِمَنِّكَ وَ أَيَادِيْكَ يَا مُنْتَهَى رَغْبَةِ الرَّاغِبِيْنَ
                </font></p><br><br>
               <p align="center"> Allâhumma lâ takhdzulnî fîhi lita’arrudhi ma’shiyatika wa lâ tadhribnî bisiyâthi naqimatika wa zahzihnî fîhi min mûjibâti sakhatika bimannika wa ayâdîka yâ muntahâ raghbatirrâghibîn</p><br>
            <p><b>Artinya</b></p><br>
            <p>Ya Allah! Janganlah Engkau hinakan aku di bulan ini karena perbuatan maksiatku terhadap-MU, dan janganlah Engkau cambuk aku dengan cambuk balasan-MU. Jauhkanlah aku dari hal-hal yang dapat menyebabkan kemurkaan-MU, dengan kelembutan dan ketinggian rahmat-Mu, Wahai pegangan terakhir orang-orang yang berkeinginan!</p>
        </div>
  </div>

  <div class="card">
        <div class="item item-divider warna-divider">
         <i class="icon ion-ios-home"></i> Doa Hari Ke-7 <small>Ramadhan</small>
        </div>
        <div class="item item-text-wrap"><font size="5">
          <p class="arab" align="center">
             اَللَّهُمَّ أَعِنِّيْ فِيْهِ عَلَى صِيَامِهِ وَ قِيَامِهِ وَ جَنِّبْنِيْ فِيْهِ مِنْ هَفَوَاتِهِ وَ آثَامِهِ وَ ارْزُقْنِيْ فِيْهِ ذِكْرَكَ بِدَوَامِهِ بِتَوْفِيْقِكَ يَا هَادِيَ الْمُضِلِّيْنَ
                </font></p><br><br>
                <p align="center">Allâhumma a’innî fîhi ‘alâ shiyâmihi wa qiyâmihi wa jannibnî fîhi min hafawâtihi wa âtsâmihi warzuqnî fîhi dzikrika bidawâmihi bitaufîqika Yâ hâdiyal mudhillîn.</p><br>
            <p><b>Artinya</b></p><br>
            <p>Ya Allah, bantulah aku untuk berpuasa dan shalat malam serta jauhkan aku dari kesia-siaan dan perbuatan dosa. Anugrahi aku di dalamnya dengan dawamnya ingat pada-Mu dengan taufik-Mu wahai yang menunjuki orang tersesat”</p>
        </div>
  </div>

  <div class="card">
        <div class="item item-divider warna-divider">
         <i class="icon ion-ios-home"></i> Doa Hari Ke-8 <small>Ramadhan</small>
        </div>
        <div class="item item-text-wrap"><font size="5">
          <p class="arab" align="center">
            اَللَّهُمَّ ارْزُقْنِيْ فِيْهِ رَحْمَةَ الأَيْتَامِ وَ إِطْعَامَ الطَّعَامِ وَ إِفْشَاءَ السَّلاَمِ وَ صُحْبَةَ الْكِرَامِ بِطَوْلِكَ يَا مَلْجَأَ الآمِلِيْنَ
                </p><p align="center">Allâhummarzuqnî fîhi rahmatal aytâm wa it’âmitha’âm wa ifsyâis salâm wa suhbatil kirâm bithawlika yâ malja-al âmilîn</p><br>
            <p><b>Artinya</b></p><br>
            <p>Ya Allah, anugrahilah kepada kami rasa sayang terhadap anak-anak yatim dan suka memberi makan (orang miskin) serta menyebarkan kedamaian dan bergaul dengan orang-orang mulia dengan kemurahanmu wahai tempat berlindung bagi orang-orang yang berharap.</p>
        </div>
  </div>

  <div class="card">
        <div class="item item-divider warna-divider">
         <i class="icon ion-ios-home"></i> Doa Hari Ke-9 <small>Ramadhan</small>
        </div>
        <div class="item item-text-wrap"><font size="5">
          <p class="arab" align="center">
             اَللَّهُمَّ اجْعَلْ لِيْ فِيْهِ نَصِيْبًا مِنْ رَحْمَتِكَ الْوَاسِعَةِ وَ اهْدِنِيْ فِيْهِ لِبَرَاهِيْنِكَ السَّاطِعَةِ وَ خُذْ بِنَاصِيَتِيْ إِلَى مَرْضَاتِكَ الْجَامِعَةِ بِمَحَبَّتِكَ يَا أَمَلَ الْمُشْتَاقِيْنَ
                </font></p><br><br>
                <p align="center">Allâhummaj'allî fîhi nashîban min rahmatikal wâsi'ah wahdinî fîhi libarâhînikas sâthi'ah wa khudz binâshiyatî ilâ mardhâtikal jâmi'ah bimahabbatika yâ amalal musytâqîn</p><br>
            <p><b>Artinya</b></p><br>
            <p>Ya Allah! Anugerahilah untukku sebagian dari rahmat-MU yang luas, dan berikanlah aku petunjuk kepada ajaran- ajaran-MU yang terang, dan bimbinglah aku menuju kepada keridhaan-MU yang penuh dengan kecintaan-MU, Wahai harapan orang-orang yang merindu.</p>
        </div>
  </div>

  <div class="card">
        <div class="item item-divider warna-divider">
         <i class="icon ion-ios-home"></i> Doa Hari Ke-10 <small>Ramadhan</small>
        </div>
        <div class="item item-text-wrap"><font size="5">
          <p class="arab" align="center">
             اَللَّهُمَّ اجْعَلْنِيْ فِيْهِ مِنَ الْمُتَوَكِّلِيْنَ عَلَيْكَ وَ اجْعَلْنِيْ فِيْهِ مِنَ الْفَائِزِيْنَ لَدَيْكَ وَ اجْعَلْنِيْ فِيْهِ مِنَ الْمُقَرَّبِيْنَ إِلَيْكَ بِإِحْسَانِكَ يَا غَايَةَ الطَّالِبِيْنَ
                </font></p><br><br>
               <p align="center">Allâhummaj 'alnî fîhi minal mutawakkilîn 'alaika waj'alnî fîhi minal fâizîn ladaika waj'alnî fîhi minal muqarrabîn ilaika biiîhsânika yâ ghâyatat thâlibîn</p><br>
            <p><b>Artinya</b></p><br>
            <p>Ya Allah! Mohon jadikanlah aku diantara orang-orang yang bertawakkal kepada-Mu, dan jadikanlah aku diantara orang- orang yang menang disisi-MU, dan jadikanlah aku diantara orang-orang yang dekat kepada-MU, dengan kebaikan-MU, Wahai Tujuan orang-orang yang memohon</p>
        </div>
  </div>

  <div class="card">
        <div class="item item-divider warna-divider">
         <i class="icon ion-ios-home"></i> Doa Hari Ke-11 <small>Ramadhan</small>
        </div>
        <div class="item item-text-wrap"><font size="5">
          <p class="arab" align="center">
             اَللَّهُمَّ حَبِّبْ إِلَيَّ فِيْهِ الْإِحْسَانَ وَ كَرِّهْ إِلَيَّ فِيْهِ الْفُسُوْقَ وَ الْعِصْيَانَ وَ حَرِّمْ عَلَيَّ فِيْهِ السَّخَطَ وَ النِّيْرَانَ بِعَوْنِكَ يَا غِيَاثَ الْمُسْتَغِيْثِيْنَ
                </font></p><br><br>
                <p align="center">Allâhumma habbib ilayya fîhil ihsan wa karrih fîhil fusûq wal 'isyân wa harrim 'alayya fîhis sakhatha wannîrân bi'aunika yâ ghiyâtsal mustaghîtsîn.</p><br>
            <p><b>Artinya</b></p><br>
            <p>Ya Allah! Mohon tanamkanlah ke dalam diriku kecintaan kepada perbuatan baik, dan tanamkanlah ke dalam diriku kebencian terhadap kemaksiatan dan kefasikan. Mohon jauhkanlah dariku kemurkaan-MU dan api neraka dengan pertolongan-MU, Wahai Penolong orang-orang yang meminta pertolongan</p>
        </div>
  </div>

  <div class="card">
        <div class="item item-divider warna-divider">
         <i class="icon ion-ios-home"></i> Doa Hari Ke-12 <small>Ramadhan</small>
        </div>
        <div class="item item-text-wrap"><font size="5">
          <p class="arab" align="center">
             اَللَّهُمَّ زَيِّنِّيْ فِيْهِ بِالسِّتْرِ وَ الْعَفَافِ وَ اسْتُرْنِيْ فِيْهِ بِلِبَاسِ الْقُنُوْعِ وَ الْكَفَافِ وَ احْمِلْنِيْ فِيْهِ عَلَى الْعَدْلِ وَالإِنْصَافِ وَ آمِنِّيْ فِيْهِ مِنْ كُلِّ مَا أَخَافُ بِعِصْمَتِكَ يَا عِصْمَةَ الْخَائِفِيْنَ
                </font></p><br><br>
                <p align="center">Allâhumma zayyinî fîhi bissitri wal 'afâf wasturnî fîhi bilibâsil qunû'i wal kafâf wahmilnî fîhi 'alal 'adli wal inshâf wa Wa âminnî fîhi min kulli mâ akhâfu bi'ismatika ya 'ismatal khâifîn</p><br>
            <p><b>Artinya</b></p><br>
            <p>Ya Allah, mohon hiasilah aku di bulan ini dengan penutup aib dan kesucian. Tutupilah diriku dengan pakaian kecukupan dan kerelaan diri. Tuntunlah aku untuk senantiasa bersikap adil dan taat. Selamatkanlah aku dari segala sesuatu yang aku takuti. Dengan Perlindungan-MU, Wahai tempat bernaung bagi mereka yang ketakutan.</p>
        </div>
  </div>

  <div class="card">
        <div class="item item-divider warna-divider">
         <i class="icon ion-ios-home"></i> Doa Hari Ke-13 <small>Ramadhan</small>
        </div>
        <div class="item item-text-wrap"><font size="5">
          <p class="arab" align="center">
            اَللَّهُمَّ طَهِّرْنِيْ فِيْهِ مِنَ الدَّنَسِ وَ الْأَقْذَارِ وَ صَبِّرْنِيْ فِيْهِ عَلَى كَائِنَاتِ الْأَقْدَارِ وَ وَفِّقْنِيْ فِيْهِ لِلتُّقَى وَ صُحْبَةِ الأَبْرَارِ بِعَوْنِكَ يَا قُرَّةَ عَيْنِ الْمَسَاكِيْنِ
                </font></p><br><br>
                <p align="center">Allâhumma thahhirnî fîhi minaddanasi wal aqdzâr wa sabbirnî fîhi 'ala kâinâtil aqdâri wawaffiqnî fîhi littuqâ wa suhbatil abrâr bi'aunika yâ qurrata 'ainil masâkîn</p><br>
            <p><b>Artinya</b></p><br>
            <p>Ya Allah! Mohon sucikanlah diri kami di bulan ini dari segala nista dan perbuatan keji. Berilah aku kesabaran atas apa yang telah Engkau tetapkan. Anugerahkan kepada kami ketakwaan dan persahabatan dengan orang-orang yang baik dengan pertolongan-MU, Wahai cahaya hati orang-orang yang miskin</p>
        </div>
  </div>

  <div class="card">
        <div class="item item-divider warna-divider">
         <i class="icon ion-ios-home"></i> Doa Hari Ke-14 <small>Ramadhan</small>
        </div>
        <div class="item item-text-wrap"><font size="5">
          <p class="arab" align="center">
             اَللَّهُمَّ لاَ تُؤَاخِذْنِيْ فِيْهِ بِالْعَثَرَاتِ وَ أَقِلْنِيْ فِيْهِ مِنَ الْخَطَايَا وَ الْهَفَوَاتِ وَ لاَ تَجْعَلْنِيْ فِيْهِ غَرَضًا لِلْبَلايَا وَ الآفَاتِ بِعِزَّتِكَ يَا عِزَّ الْمُسْلِمِيْنَ
                </font></p><br><br>
                <p align="center">Allâhumma latuakhidnii fiihi bil'atsaroti wa aqilni fiihi minal khotoya walhafawati wala taj'alnii fiihi ghorodhon lilbalaya wal afati bi'izzatika yaa 'izzalmuslimiin</p><br>
            <p><b>Artinya</b></p><br>
            <p>Ya Allah! Mohon Janganlah ENGKAU tuntut dari kami di bulan ini semua kesalahan yang aku lakukan. Hapuskan seluruh kesalahan dan kebodohanku. Hindarkan aku dari bencana dan malapetaka. Demi kemuliaan-MU, Wahai sandaran Kemulian kaum Muslimin</p>
        </div>
  </div>

  <div class="card">
        <div class="item item-divider warna-divider">
         <i class="icon ion-ios-home"></i> Doa Hari ke-15 <small>Ramadhan</small>
        </div>
        <div class="item item-text-wrap"><font size="5">
          <p class="arab" align="center">
             اَللَّهُمَّ ارْزُقْنِيْ فِيْهِ طَاعَةَ الْخَاشِعِيْنَ وَ اشْرَحْ فِيْهِ صَدْرِيْ بِإِنَابَةِ الْمُخْبِتِيْنَ بِأَمَانِكَ يَا أَمَانَ الْخَائِفِيْنَ
                </font></p><br><br>
                <p align="center">Allâhummar zuqnî fîhi thâ’atal khâsyi’în wasyrah fîhi shadrî bi inâbatil mukhbitîn biamânika yâ amânal khâifîn</p><br>
            <p><b>Artinya</b></p><br>
            <p>Ya Allah, Mohon anugrahkan padaku di bulan ini dengan ketaatan orang-orang yang khusyu serta lapangkanlah dadaku dan dengan taubat orang-orang yang rendah diri. Dengan kekuatan-Mu. Wahai tempat berlindung bagi orang-orang yang ketakutan.</p>
        </div>
  </div>

  <div class="card">
        <div class="item item-divider warna-divider">
         <i class="icon ion-ios-home"></i> Doa Hari ke-16 <small>Ramadhan</small>
        </div>
        <div class="item item-text-wrap"><font size="5">
          <p class="arab" align="center">
             للَّهُمَّ وَفِّقْنِيْ فِيْهِ لِمُوَافَقَةِ الْأَبْرَارِ وَ جَنِّبْنِيْ فِيْهِ مُرَافَقَةَ الْأَشْرَارِ وَ آوِنِيْ فِيْهِ بِرَحْمَتِكَ إِلَى (فِيْ ) دَارِ الْقَرَارِ بِإِلَهِيَّتِكَ يَا إِلَهَ الْعَالَمِيْنَ
                </font></p><br><br>
                <p align="center">Allâhumma waffiqnî fîhi limuwâfaqatil abrâr wa jannibnî fîhi murafaqatal asyrâr wa âwinî fîhi birahmatika ilâ dâril qarâri bîlâhiyyatika yâ ilâhal ‘âlamîn</p><br>
            <p><b>Artinya</b></p><br>
            <p>Ya Allah, anugrahilah kepadaku di bulan ini agar supaya bisa bergaul dengan orang-orang baik, dan jauhkanlah aku dari bergaul dengan orang-orang jahat. Berilah aku perlindungan di bulan ini dengan rahmat-Mu sampai ke alam Akhirat. Demi keesaan-Mu wahai Tuhan semesta Alam</p>
        </div>
  </div>

  <div class="card">
        <div class="item item-divider warna-divider">
         <i class="icon ion-ios-home"></i> Doa Hari Ke-17 <small>Ramadhan</small>
        </div>
        <div class="item item-text-wrap"><font size="5">
          <p class="arab" align="center">
           اَللَّهُمَّ اهْدِنِيْ فِيْهِ لِصَالِحِ الأَعْمَالِ وَ اقْضِ لِيْ فِيْهِ الْحَوَائِجَ وَ الآمَالَ يَا مَنْ لاَ يَحْتَاجُ إِلَى التَّفْسِيْرِ وَ السُّؤَالِ يَا عَالِمًا بِمَا فِيْ صُدُوْرِ الْعَالَمِيْنَ صَلِّ عَلَى مُحَمَّدٍ وَ آلِهِ الطَّاهِرِيْنَ
                </font></p><br><br>
                <p align="center">Allâhummah dinî fîhi lishâlihil a’mâli waqdhi lî fîhil hawâija wal âmâla yâ man lâ yahtâju ilat tafsîr was suâli yâ ‘âliman bimâ fî shudûril ‘âlamîn shalli ‘alâ muhammadin wa âlihith thâhirîn</p><br>
            <p><b>Artinya</b></p><br>
            <p>Ya Allah anugrahilah aku di bulan ini untuk bisa berperilaku yang baik dan kabulkanlah semua hajat dan keinginanku. Wahai yang tidak memerlukan penjelasan dan pertanyaan. Wahai yang Maha mengetahui apa yang ada di dalam alam ini. Anugrahilah shalawat dan salam bagi Muhammad dan keluarganya yang suci</p>
        </div>
  </div>

  <div class="card">
        <div class="item item-divider warna-divider">
         <i class="icon ion-ios-home"></i> Doa Hari ke-18 <small>Ramadhan</small>
        </div>
        <div class="item item-text-wrap"><font size="5">
          <p class="arab" align="center">
             اَللَّهُمَّ نَبِّهْنِيْ فِيْهِ لِبَرَكَاتِ أَسْحَارِهِ وَ نَوِّرْ فِيْهِ قَلْبِيْ بِضِيَاءِ أَنْوَارِهِ وَ خُذْ بِكُلِّ أَعْضَائِيْ إِلَى اتِّبَاعِ آثَارِهِ بِنُوْرِكَ يَا مُنَوِّرَ قُلُوْبِ الْعَارِفِيْنَ
                </font></p><br><br>
                <p align="center">Allâhumma nabbihnî fîhi libarakâti ashârihi wa nawwir fîhi qalbî bidhiyâi anwârihi wa khudz bikulli a’dhâî ilat tibâ’I âtsârihi binûrika yâ munawwiral qulûbi 'arifiina</p><br>
            <p><b>Artinya</b></p><br>
            <p>Ya Allah sadarkanlah aku untuk mengetahui berkat yang ada pada waktu sahur. Terangilah hati-ku dengan cahaya-Mu yang lembut. Jadikanlah seluruh anggota badanku dapat mengikuti cahaya itu. Wahai Penerang hati sanubari</p>
        </div>
  </div>

  <div class="card">
        <div class="item item-divider warna-divider">
         <i class="icon ion-ios-home"></i> Doa Hari ke-19 <small>Ramadhan</small>
        </div>
        <div class="item item-text-wrap"><font size="5">
          <p class="arab" align="center">
            اَللَّهُمَّ وَفِّرْ فِيْهِ حَظِّيْ مِنْ بَرَكَاتِهِ وَ سَهِّلْ سَبِيْلِيْ إِلَى خَيْرَاتِهِ وَ لاَ تَحْرِمْنِيْ قَبُوْلَ حَسَنَاتِهِ يَا هَادِيًا إِلَى الْحَقِّ الْمُبِيْنِ
                </font></p><br><br>
                <p align="center">Allâhumma waffir hadzdzî min barakâtihi wa sahhil sabîlî ilâ khayrâtihi walâ tahrimnî qabûla hasanâtihi yâ hâdiyan ilal haqqil mubîna</p><br>
            <p><b>Artinya</b></p><br>
            <p>Ya Allah, jadikanlah aku di bulan ini lebih bisa menikmati berkat-berkat-Mu dan mudahkanlah jalan-ku untuk mendapat kebaikan-kebaikannya. Jangan Engkau haramkan aku untuk menerima kebaikan-kebaikannya. Wahai Pemberi Petunjuk kepada jalan yang terang</p>
        </div>
  </div>

  <div class="card">
        <div class="item item-divider warna-divider">
         <i class="icon ion-ios-home"></i> Doa Hari ke-20 <small>Ramadhan</small>
        </div>
        <div class="item item-text-wrap"><font size="5">
          <p class="arab" align="center">
            اَللَّهُمَّ افْتَحْ لِيْ فِيْهِ أَبْوَابَ الْجِنَانِ وَ أَغْلِقْ عَنِّيْ فِيْهِ أَبْوَابَ النِّيْرَانِ وَ وَفِّقْنِيْ فِيْهِ لِتِلاَوَةِ الْقُرْآنِ يَا مُنْزِلَ السَّكِيْنَةِ فِيْ قُلُوْبِ الْمُؤْمِنِيْنَ
                </font></p><br><br>
                <p align="center">Allâhummaftah lî fîhi abwâbal jinâni wa agliq 'annî fîhi abwâban nîrân wa waffiqnî litilâwatil qur'âni yâ munzilas sakînata fî qulûbil mu'minîn</p><br>
            <p><b>Artinya</b></p><br>
            <p>Ya Allah, bukakanlah bagiku di bulan ini pintu-pintu menuju surga dan tutupkan bagiku pintu-pintu neraka. Berikanlah kemampuan padaku untuk menelaah Al qur'an di bulan ini. Wahai yang menurunkan ketenangan ke dalam hati orang-orang mukmin</p>
        </div>
  </div>

  <div class="card">
        <div class="item item-divider warna-divider">
         <i class="icon ion-ios-home"></i> Doa Hari ke-21 <small>Ramadhan</small>
        </div>
        <div class="item item-text-wrap"><font size="5">
          <p class="arab" align="center">
             اَللَّهُمَّ اجْعَلْ لِيْ فِيْهِ إِلَى مَرْضَاتِكَ دَلِيْلاً وَ لاَ تَجْعَلْ لِلشَّيْطَانِ فِيْهِ عَلَيَّ سَبِيْلاً وَ اجْعَلِ الْجَنَّةَ لِيْ مَنْزِلاً وَ مَقِيْلاً يَا قَاضِيَ حَوَائِجِ الطَّالِبِيْنَ
                </font></p><br><br>
                <p align="center">Allâhummaj 'al lî fîhi ilâ mardhâtika dalîlan wa lâ taj'al lisysyaithâni fîhi 'alayya sabîlan waj'alil jannata lî manzilan wa maqîlan yâ qâdhiya hawâijit tolibina</p><br>
            <p><b>Artinya</b></p><br>
            <p>Ya Allah, bantulah aku untuk berpuasa dan shalat malam serta jauhkan aku dari kesia-siaan dan perbuatan dosa. Anugrahi aku di dalamnya dengan dawamnya ingat pada-Mu dengan taufik-Mu wahai yang menunjuki orang tersesat”</p>
        </div>
  </div>

  <div class="card">
        <div class="item item-divider warna-divider">
         <i class="icon ion-ios-home"></i> Doa Hari ke-22 <small>Ramadhan</small>
        </div>
        <div class="item item-text-wrap"><font size="5">
          <p class="arab" align="center">
            اَللَّهُمَّ افْتَحْ لِيْ فِيْهِ أَبْوَابَ فَضْلِكَ وَ أَنْزِلْ عَلَيَّ فِيْهِ بَرَكَاتِكَ وَ وَفِّقْنِيْ فِيْهِ لِمُوْجِبَاتِ مَرْضَاتِكَ وَ أَسْكِنِّيْ فِيْهِ بُحْبُوْحَاتِ جَنَّاتِكَ يَا مُجِيْبَ دَعْوَةِ الْمُضْطَرِّيْنَ
                </font></p><br><br>
                <p align="center">Allâhummaftah lî abwâba fadhlika wa anzil ‘alayya fîhi barakâtika wa waffiqnî fîhi limûjibâti mardhâtika wa askinnî fîhi buhbûhâti jannâtika yâ mujîba da’watil mudhtharrîn</p><br>
            <p><b>Artinya</b></p><br>
            <p>Ya Allah bukakanlah lebar –lebar pintu karunia-Mu di bulan ini dan curahkan berkah-berkah-Mu Tempatkan aku di tempat yang membuat-Mu ridho padaku. Tempatkan aku di dalam Surga-Mu. Wahai Yang Maha menjawab doa orang yang dalam kesempitan</p>
        </div>
  </div>

  <div class="card">
        <div class="item item-divider warna-divider">
         <i class="icon ion-ios-home"></i> Doa Hari ke-23 <small>Ramadhan</small>
        </div>
        <div class="item item-text-wrap"><font size="5">
          <p class="arab" align="center">
            اَللَّهُمَّ اغْسِلْنِيْ فِيْهِ مِنَ الذُّنُوْبِ وَ طَهِّرْنِيْ فِيْهِ مِنَ الْعُيُوْبِ وَ امْتَحِنْ قَلْبِيْ فِيْهِ بِتَقْوَى الْقُلُوْبِ يَا مُقِيْلَ عَثَرَاتِ الْمُذْنِبِيْنَ
                </font></p><br><br>
                <p align="center">Allâhummaghsilnî fîhi minadzdzunûbi wa thahhirnî fîhi minal ‘uyûbi wamtahin qalbî bitaqwal qulûbi yâ muqîla ‘atsarâtil mudznibîna</p><br>
            <p><b>Artinya</b></p><br>
            <p>Ya Allah, sucikanlah aku dari dosa-dosa dan bersihkanlah diriku dari segala aib/ kejelekan.Tanamkanlah ketakwaan di dalam hatiku. Wahai Penghapus kesalahan orang-orang yang berdosa</p>
        </div>
  </div>

  <div class="card">
        <div class="item item-divider warna-divider">
         <i class="icon ion-ios-home"></i> Doa Hari ke-24 <small>Ramadhan</small>
        </div>
        <div class="item item-text-wrap"><font size="5">
          <p class="arab" align="center">
            اَللَّهُمَّ إِنِّيْ أَسْأَلُكَ فِيْهِ مَا يُرْضِيْكَ وَ أَعُوْذُ بِكَ مِمَّا يُؤْذِيْكَ وَ أَسْأَلُكَ التَّوْفِيْقَ فِيْهِ لأَنْ أُطِيْعَكَ وَ لاَ أَعْصِيَكَ يَا جَوَّادَ السَّائِلِيْنَ
                </font></p><br><br>
                <p align="center">Allâhumma innî asaluka fîhi mâ yurdhîka wa a’ûdzu bika mimmâ yu’dzîka wa asalukat taufîqa fîhi lian utî’aka wa lâ a’shîka yâ ajwadas sâilîn</p><br>
            <p><b>Artinya</b></p><br>
            <p>Ya Allah aku memohon pada-Mu di bulan yang suci ini dengan segala sesuatu yang medatangkan keridhaan-Mu, dan aku berlindung dengan-Mu dari hal-hal yang mendatangkan kemarahan-MU, dan aku memohon kepada-MU kemampuan untuk mentaati-MU serta menghindari kemaksiatan terhadap-MU, Wahai Pemberi para peminta</p>
        </div>
  </div>

  <div class="card">
        <div class="item item-divider warna-divider">
         <i class="icon ion-ios-home"></i> Doa Hari ke-25 <small>Ramadhan</small>
        </div>
        <div class="item item-text-wrap"><font size="5">
          <p class="arab" align="center">
            اَللَّهُمَّ اجْعَلْنِيْ فِيْهِ مُحِبًّا لِأَوْلِيَائِكَ وَ مُعَادِيًا لأَعْدَائِكَ مُسْتَنّا بِسُنَّةِ خَاتَمِ أَنْبِيَائِكَ يَا عَاصِمَ قُلُوْبِ النَّبِيِّيْنَ
                </font></p><br><br>
                <p align="center">Allâhummaj’alnî fîhi muhibban li awliyâika wa mu’âdiyan lia’dâika mustanan bisunnati khâtami anbiyâika yâ ‘âsima qulûbinnabiyyîn</p><br>
            <p><b>Artinya</b></p><br>
            <p>Ya Allah, jadikanlah aku di bulan ini lebih mencintai para wali-Mu dan memusuhi musuh-musuh-Mu. Jadikanlah aku pengikut sunnah Nabi penutup-Mu. Wahai yang menjaga hati para nabi</p>
        </div>
  </div>

  <div class="card">
        <div class="item item-divider warna-divider">
         <i class="icon ion-ios-home"></i> Doa Hari ke-26 <small>Ramadhan</small>
        </div>
        <div class="item item-text-wrap"><font size="5">
          <p class="arab" align="center">
            اَللَّهُمَّ اجْعَلْ سَعْيِيْ فِيْهِ مَشْكُوْرًا وَ ذَنْبِيْ فِيْهِ مَغْفُوْرًا وَ عَمَلِيْ فِيْهِ مَقْبُوْلاً وَ عَيْبِيْ فِيْهِ مَسْتُوْرًا يَا أَسْمَعَ السَّامِعِيْنَ
                </font></p><br><br>
                <p align="center">Allâhummaj’al sa’yî fîhi masykûran wa dzanbî fîhi maghfûran wa ‘amalî fîhi maqbûlan wa ‘aybî fîhi mastûran yâ asma’as sâmi’îna</p><br>
            <p><b>Artinya</b></p><br>
            <p>Ya Allah, jadikanlah setiap lampah usahaku di bulan ini sebagai ungkapan rasa syukur dan dosa-dosaku terampuni, amal-amalku diterima dan seluruh aib kejelekanku ditutupi. Wahai Yang Maha mendengar dari semua yang mendengar</p>
        </div>
  </div>

  <div class="card">
        <div class="item item-divider warna-divider">
         <i class="icon ion-ios-home"></i> Doa Hari ke-27 <small>Ramadhan</small>
        </div>
        <div class="item item-text-wrap"><font size="5">
          <p class="arab" align="center">
            اَللَّهُمَّ ارْزُقْنِيْ فِيْهِ فَضْلَ لَيْلَةِ الْقَدْرِ وَ صَيِّرْ أُمُوْرِيْ فِيْهِ مِنَ الْعُسْرِ إِلَى الْيُسْرِ وَ اقْبَلْ مَعَاذِيْرِيْ وَ حُطَّ عَنِّيَ الذَّنْبَ وَ الْوِزْرَ يَا رَؤُوْفًا بِعِبَادِهِ الصَّالِحِيْنَ
                </font></p><br><br>
                <p align="center">Allâhummarzuqnî fîhi fadhla laylatil qadri wa shayyir umûrî fîhi minal ‘usri ilal yusri waqbal ma’âdzîrî wa huththa ‘anniyadz dzanba wal wizra yâ ra`ûfan bi’ibâdihîsh shâlihîn</p><br>
            <p><b>Artinya</b></p><br>
            <p>Ya Allah, berkahilah aku di bulan ini dengan mendapatkan lailatul qadr. Ubah arah hidupku dari hidup yang susah menjadi mudah. Terimalah segala permohonan maafku dan hapuskan dosa-dosa dan kesalahanku. Wahai Yang Maha Penyayang terhadap hamba-Nya yang saleh</p>
        </div>
  </div>

  <div class="card">
        <div class="item item-divider warna-divider">
         <i class="icon ion-ios-home"></i> Doa Hari ke-28 <small>Ramadhan</small>
        </div>
        <div class="item item-text-wrap"><font size="5">
          <p class="arab" align="center">
            اَللَّهُمَّ وَفِّرْ حَظِّيْ فِيْهِ مِنَ النَّوَافِلِ وَ أَكْرِمْنِيْ فِيْهِ بِإِحْضَارِ الْمَسَائِلِ وَ قَرِّبْ فِيْهِ وَسِيْلَتِيْ إِلَيْكَ مِنْ بَيْنِ الْوَسَائِلِ يَا مَنْ لاَ يَشْغَلُهُ إِلْحَاحُ الْمُلِحِّيْنَ
                </font></p><br><br>
                <p align="center">Allâhumma waffir hadzdzî minan nawâfili wa akrimnî fîhi bîhdhâril masâili wa qarrib fîhi wasîlatî ilayka min baynil wasâili yâ man lâ yasyghaluhu ilhâhul mulihhîna.</p><br>
            <p><b>Artinya</b></p><br>
            <p>Ya Allah, sempurnakanlah hidupku dengan melaksanakan amalan-amalan Sunnah, dan muliakanlah aku dengan terkabulnya semua permintaan. Dekatkanlah aku kepada-Mu dengan berbagai jalan, Wahai Yang tidak sibuk dengan rintihan orang yang meminta</p>
        </div>
  </div>

  <div class="card">
        <div class="item item-divider warna-divider">
         <i class="icon ion-ios-home"></i> Doa Hari ke-29 <small>Ramadhan</small>
        </div>
        <div class="item item-text-wrap"><font size="5">
          <p class="arab" align="center">
            اَللَّهُمَّ غَشِّنِيْ فِيْهِ بِالرَّحْمَةِ وَ ارْزُقْنِيْ فِيْهِ التَّوْفِيْقَ وَ الْعِصْمَةَ وَ طَهِّرْ قَلْبِيْ مِنْ غَيَاهِبِ التُّهَمَةِ يَا رَحِيْمًا بِعِبَادِهِ الْمُؤْمِنِيْنَ
                </font></p><br><br>
               <p align="center">Allâhumma ghasysyinî fîhi birrahmati warzuqnî fîhit tawfîqa wal ‘ismata wa thahhir qalbî min ghayâhibit tuhmati yâ rahîman bi’ibâdihil mukminîn</p><br>
            <p><b>Artinya</b></p><br>
            <p>Ya Allah, lingkupilah aku di bulan ini dengan rahmat-Mu, anugrahilah aku taufik dan penjagaan-Mu. Sucikanlah hatiku dari benih-benih fitnah/kebencian, Wahai yang Maha Pengasih terhadap hamba-hamba-Nya yang beriman</p>
        </div>
  </div>

  <div class="card">
        <div class="item item-divider warna-divider">
         <i class="icon ion-ios-home"></i> Doa Hari ke-30 <small>Ramadhan</small>
        </div>
        <div class="item item-text-wrap"><font size="5">
          <p class="arab" align="center">
            اَللَّهُمَّ اجْعَلْ صِيَامِيْ فِيْهِ بِالشُّكْرِ وَ الْقَبُوْلِ عَلَى مَا تَرْضَاهُ وَ يَرْضَاهُ الرَّسُوْلُ مُحْكَمَةً فُرُوْعُهُ بِالأُصُوْلِ بِحَقِّ سَيِّدِنَا مُحَمَّدٍ وَ آلِهِ الطَّاهِرِيْنَ وَ الْحَمْدُ ِللهِ رَبِّ الْعَالَمِيْنَ
                </font></p><br><br>
               <p align="center"> Allâhummaj’al shiyâmî fîhi bisysyukri wal qabûli ‘alâ mâ tardhâhur Wayardlâhurrasûlu muhkamatan furû’uhu bil ushuli bihaqqi sayyidinâ muhammadin wa âlihit Al-Thâhirîn wal hamdu lillahi rabbil’âlamin</p><br>
            <p><b>Artinya</b></p><br>
            <p>Ya Allah, terimalah puasaku di bulan ini dengan rasa syukur. Jadikanlah puasaku ini mendatangkan keridhaan-Mu dan keridhaan para Rasul-Mu. Engkau kuatkanlah furu (cabang-cabang)-nya dan ushul (pokok-pokok)-nya. Demi kebenaran junjungan kami Muhammad saw beserta keluarganya yang suci. Segala puji bagi-Mu ya Allah,Tuhan semesta alam</p>
        </div>
  </div>

  </ion-content>
</ion-view>