<ion-view view-title="">
  <ion-content>
  <div class="card">
        <div class="item item-divider warna-divider">
         <i class="icon ion-ios-home"></i> Doa lailatul Qodar 
        </div>
        <div class="item item-text-wrap"><font size="5">
          <p class="arab" align="center">
              اَللهُمَّ إِنَّكَ عَفُوٌّ تُحِبُّ الْعَفْوَ فَاعْفُ عَنِّى
                </font></p><br><br>
               <p align="center"> ALLAAHUMMA INNAKA 'AFUWWUN TUHIBBUL 'AFWA FA'FU 'ANNII.</p><br>
            <p><b>Artinya</b></p><br>
            <p>Ya Allah, Engkau Maha Pemaaf dan Engkau mencintai orang yang meminta maaf, karenanya maafkanlah aku</p><br><br>
            <p> Diriwayatkan; dari ‘Aisyah radhiyallahu ‘anha-, ia berkata, “Aku pernah bertanya pada Rasulullah SAW, yaitu jika saja ada suatu hari yang aku tahu bahwa malam tersebut adalah lailatul qadar, lantas apa do’a yang mesti kuucapkan?” Jawab Rasul shallallahu ‘alaihi wa sallam, “Berdo’alah: Allahumma innaka ‘afuwwun tuhibbul ‘afwa fa’fu’anni (Ya Allah, Engkau Maha Pemaaf dan Engkau mencintai orang yang meminta maaf, karenanya maafkanlah aku).” (HR. Tirmidzi no. 3513 dan Ibnu Majah no. 3850. Abu ‘Isa At Tirmidzi mengatakan bahwa hadits ini hasan shahih. Al Hafizh Abu Thohir mengatakan bahwa hadits ini shahih).</p>
        </div>
  </div>

  </ion-content>
</ion-view>