<ion-view view-title="BACA HADHARAT">
 <ion-content class="padding">
 <p align="center"><img src="img/1.png"></p>
 <p align="center"><b>BACA HADHARAT</b> </p>
 <p align="center"><img src="img/1.png"></p>
  <p class="arab" align="center">اَعُوْدُ بِاللهِ مِنَ الشَّيْطَانِ الرَّجِيْمِ 
  </p>
  <p class="arab" align="center">بِسْمِ اللهِ الرَّحْمَنِ الرَّحِيْمِ 
  </p><br>
  <p class="arab" align="center">اِلَى حَضْرَةِ النَّبِىِّ الْمُصْطَفَى مُحَمَّدٍ صَلَّى اللهُ عَلَيْهِ وَسَلَّمَ وَعَلَى اَلِهِ وَاَصْحَابِهِ وَاَزْوَاجِهِ وَذُرِّيَّاتِهِ وَاَهْلِ بَيْتِهِ اْلكِرَامِ شَيْئٌ للهِ لَهُمُ اْلفَاتِحَةْْ
  </p><br>
  <p class="arab" align="center">ثُمَّ اِلَى حَضْرَةِ سَادَاتِنَا خَلِيْفَةِ رَسُوْلِ اللهِ صَلَّى اللهُ عَلَيْهِ وَسَلَّمَ اَبِىْ بَكْرٍ وَعُمَرَ وَعُثْمَانَ وَعَلىِّ وَعَلَى بَقِيَّةِ الصَّحَابَةِ رَسُوْلِ اللهِ صَلَّى اللهُ عَلَيْهِ وَسَلَّمَ مِنَ اْلمُهَاجِرِيْنَ وَاْلأَنْصَارِ رَضِىَ اللهُ عَنْهُمْ شَيْئٌ للهِ لَهُمُ اْلفَاتِحَةْْ 
  </p><br>
  <p class="arab" align="center">ثُمَّ اِلَى حَضْرَةِ جَمِيْعِ اْلاَنْبِيَاءِ وَاْلمُرْسَلِيْنَ وَاْلمَلاَئِكَةِ اْلمُقَرَّبِيْنَ وَالشُّهَدَاءِ وَالصَّالِحِيْنَ وَتَابِعِ التَّابِعِيْنَ لَهُمْ بِإِحْسَانِ اِلَى يَوْمِ الدِّيْنِ شَيْئٌ للهِ لَهُمُ اْلفَاتِحَةْْ
  </p><br>
  <p class="arab" align="center">ثُمَّ اِلَى حَضْرَةِ جَمِيْعِ اَوْلِيَاءِ اللهِ تَعَالَى مِنْ مَشَارِقِ اْلاَرْضِ اِلَى مَغَارِبِهَا فِي بَرِّهَا وَبَحْرِهَا مِنْ يَمِيْنِهَا اِلَى شِمَالِهَا خُصُوْصًا اِلَى حَضْرَةِ سُلْطَانِ اْلاَوْلِيَاءِ قُطُبِ الرَّبَّانِى وَاْلعَارِفِيْنَ الصَّمَدَانِى اْلغَوْثِ اْلأَعْظَمِ سَيِّدِنَا الشَّيْخِ عَبْدِ اْلقَادِرِ اْلجَيْلاَنِى قَدَّسَ اللهُ سِرَّهُ اْلعَزِيْزِ صَاحِبِ اْلكَرَامَةِ وَاْْلاِجَازَةِ شَيْئٌ للهِ لَهُمُ اْلفَاتِحَةْْ
  </p><br>
  <p class="arab" align="center">ثُمَّ اِلَى حَضْرَةِ اَبَائِنَا وَاُمَّهَاتِنَا وَجَدِّنَا وَجَدَّاتِنَا وَاَخِيْنَا وَاَخَوَاتِنَا وَلِمَشَائِخِناَ وَلِجَمِيْعِ اْلمُسْلِمِيْنَ وَ اْْلمُسْلِمَاتِ وَاْلمُؤمِنِيْنَ وَاْلمُؤْمِنَاتِ اْلاَحْيَاءِ مِنْهُمْ وَاْلاَمْوَاتِ شَيْئٌ للهِ لَهُمُ اْلفَاتِحَةْْ
  </p><br>
<p align="center"><img src="img/1.png"></p>
 </ion-content>
</ion-view>