<ion-view view-title="Info Aplikasi">
 <ion-content class="padding">
  <div class="card">
        <div class="item item-divider warna-divider">
         <i class="icon ion-compose"></i> Informasi <small>Aplikasi</small>
        </div>
        <div class="item item-text-wrap">
        <p> Assalamualaikum Wr. Wb.</p><br>
        <p>Segala Puji hanya Milik Allah SWT yang telah melimpahkan rahmat dan hidayahnya kepada Kita Semua, Solawat serta salam semoga tercurah kepada Nabi Muhammad SAW, dibulan Suci Ramadhan saya atas nama pribadi (Buddy Suprayogo) mengabadikan amalan tahlil yang Tujuannya adalah untuk keperluan pribadi jika anda ingin mengamalkan dipersilahkan , terimakasih</p><br>
        <p> Wassalamualaikum Wr Wb.</p><br><br>
        <p align="right"><u>Indramayu, 17 Juni 2017 M</u> <br>22 Ramadhan 1438 H<br>Hormat Saya<br><br><br>Buddy Suprayogo</p>
  </div>
  </div>
 </ion-content>
</ion-view>